<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
  </head>
  <body>
     <form action="/delete" method="post">
      <table id="tokidex" style="background-color: white; width: 100%" >
          <% rows.forEach((r)=> { %>
          <tr>
            <td><%= r.username%></a></td>
            <td><%= r.pass%> </td>
          </tr>
          <% }) %>
      </table>
    </form>
  </body>
</html>